# LINEAR 10 YEARS

In [1]:
import pandas as pd
from datetime import datetime
from fbprophet import Prophet
from matplotlib import pyplot
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

In [26]:
# load a file
year = pd.read_csv("./SN_y_tot_V2.0.csv", sep = ";", names = ["Date_in_fraction_of_year",
                                                             "sunspot_number",
                                                             
                                                             "Daily_standard_deviation",
                                                              "Number_of_observations",
                                                             "provisional_indicator"
                                                             ])

In [27]:
year.head()

,Date_in_fraction_of_year,sunspot_number,Daily_standard_deviation,Number_of_observations,provisional_indicator
0,1700.5,8.3,-1.0,-1,1
1,1701.5,18.3,-1.0,-1,1
2,1702.5,26.7,-1.0,-1,1
3,1703.5,38.3,-1.0,-1,1
4,1704.5,60.0,-1.0,-1,1

In [28]:
# Know the type of columns
year.dtypes

Date_in_fraction_of_year    float64
sunspot_number              float64
Daily_standard_deviation    float64
Number_of_observations        int64
provisional_indicator         int64
dtype: object

In [29]:
# change the type of the column Date_in_fraction_of_year in int64 for having the correct date and cast the column
year.Date_in_fraction_of_year = year.Date_in_fraction_of_year.astype(str).str.slice(stop = 4)

In [ ]:
#

In [31]:
year_f = year[["Date_in_fraction_of_year","sunspot_number"]]

year_f.columns = ['ds', 'y']  # give the name who recognized  the prophet model
year_f['ds'] = pd.to_datetime(year_f['ds']).dt.date # transform the column in the type of datetime

<ipython-input-31-d07f82c153ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_f['ds'] = pd.to_datetime(year_f['ds']).dt.date # transform the column in the type of datetime

In [32]:
# we are going to divide the data

train = year_f.drop( year_f.index[-40:])

test =   year_f.drop( year_f.index[0:281])

In [33]:
# fitting the model

m = Prophet(n_changepoints= 20,
                changepoint_range= 0.25,
                yearly_seasonality= True,
               changepoint_prior_scale= 0.9,
                seasonality_mode= "additive"
               )

ml = m.fit(train)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [34]:
# prediction

future = m.make_future_dataframe(periods = 10, freq = 'Y'
                                )
forecast = m.predict(future)
forecast.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,1700-01-01,159.085484,-22.763530,131.381275,159.085484,159.085484,-103.481078,-103.481078,-103.481078,-103.481078,-103.481078,-103.481078,0.0,0.0,0.0,55.604407
1,1701-01-01,160.267753,-32.942886,124.543637,160.267753,160.267753,-113.259580,-113.259580,-113.259580,-113.259580,-113.259580,-113.259580,0.0,0.0,0.0,47.008173
2,1702-01-01,161.450022,-37.994650,117.532994,161.450022,161.450022,-122.138328,-122.138328,-122.138328,-122.138328,-122.138328,-122.138328,0.0,0.0,0.0,39.311694
3,1703-01-01,162.632291,-52.126152,111.547648,162.632291,162.632291,-130.103927,-130.103927,-130.103927,-130.103927,-130.103927,-130.103927,0.0,0.0,0.0,32.528364
4,1704-01-01,163.814560,-48.379154,108.677717,163.814560,163.814560,-137.144542,-137.144542,-137.144542,-137.144542,-137.144542,-137.144542,0.0,0.0,0.0,26.670018

# CROSS_VALIDATION 10 Years

In [37]:

from fbprophet.diagnostics import cross_validation
y_cv = cross_validation(ml, initial = '90000 days', period = '210 days', horizon = '365 days')

INFO:fbprophet:Making 57 forecasts with cutoffs between 1946-10-21 00:00:00 and 1979-01-01 00:00:00

  0%|          | 0/57 [00:00<?, ?it/s]

In [38]:
# calculate rmse, mae with the cross validation

from fbprophet.diagnostics import performance_metrics

yy = performance_metrics(y_cv)
yy

    horizon           mse        rmse        mae      mape     mdape  coverage
0   27 days   4553.714538   67.481216  53.992017  0.978743  0.626521       0.8
1   36 days   4895.960815   69.971143  57.931762  1.096563  0.626521       0.8
2   45 days   7587.412122   87.105753  70.857872  0.579607  0.606061       0.6
3   54 days   4788.642371   69.200017  51.683994  0.546736  0.462163       0.8
4   55 days   5079.825626   71.272895  59.219885  0.603978  0.462163       0.8
5   63 days   4766.147708   69.037292  54.026096  0.574015  0.462163       0.8
6   64 days   4649.299337   68.185771  52.866554  0.499960  0.462163       0.8
7   72 days   5028.155931   70.909491  54.221437  0.512142  0.462163       0.8
8   73 days   5455.629330   73.862232  59.727922  0.490766  0.355282       0.8
9   82 days   5291.598440   72.743374  57.139801  0.508013  0.377528       0.8
10  91 days   5585.123086   74.733681  62.096997  0.630291  0.666972       0.8
11 100 days  11162.319330  105.651878  87.321960  0.569935  0.663399       0.6
12 109 days   8227.042979   90.703048  73.952450  2.750215  0.663399       0.8
13 110 days   8345.254158   91.352363  75.022121  2.973968  0.786496       0.8
14 118 days   8472.819136   92.047918  77.116459  2.958497  0.786496       0.8
15 119 days   8540.146454   92.412913  77.883018  2.970631  0.847166       0.8
16 128 days   3079.244664   55.490942  53.812397  2.909248  0.847166       1.0
17 137 days   3039.915250   55.135426  53.552631  1.277868  0.847166       1.0
18 146 days   2463.487461   49.633532  46.319779  1.040037  0.356482       1.0
19 155 days   8896.835359   94.323037  75.755183  1.115812  0.679048       0.8
20 164 days   9916.290708   99.580574  84.253474  2.351149  3.402071       0.6
21 173 days  10951.316306  104.648537  86.741543  1.729552  0.679048       0.4
22 182 days   5023.277991   70.875087  62.497445  1.675938  0.556742       0.6
23 191 days   5116.293391   71.528270  63.147686  1.925132  0.556742       0.7
24 200 days   5141.464448   71.704006  63.332464  1.277306  0.451036       0.8
25 209 days   7070.761835   84.087822  77.135023  1.341679  0.451036       0.7
26 210 days   9242.931305   96.140165  91.900974  1.399569  0.583639       0.6
27 218 days   8708.458392   93.319121  86.288697  1.466642  0.616054       0.6
28 219 days   8642.885446   92.967120  85.839062  1.117583  0.616054       0.6
29 227 days  10538.548594  102.657433  95.679847  1.152680  0.626521       0.4
30 228 days   7481.123193   86.493486  71.047444  1.030486  0.626521       0.6
31 237 days   4553.714538   67.481216  53.992017  0.978743  0.626521       0.8
32 246 days   4895.960815   69.971143  57.931762  1.096563  0.626521       0.8
33 255 days   7587.412122   87.105753  70.857872  0.579607  0.606061       0.6
34 264 days   4788.642371   69.200017  51.683994  0.546736  0.462163       0.8
35 265 days   5079.825626   71.272895  59.219885  0.603978  0.462163       0.8
36 273 days   4766.147708   69.037292  54.026096  0.574015  0.462163       0.8
37 274 days   4649.299337   68.185771  52.866554  0.499960  0.462163       0.8
38 283 days   1479.943427   38.470033  36.098011  0.449804  0.355282       1.0
39 292 days   1481.649041   38.492195  36.131941  0.432877  0.355282       1.0
40 301 days   1543.201343   39.283601  36.899825  0.531918  0.377528       1.0
41 310 days   7512.138594   86.672594  68.179549  0.629577  0.663399       0.8
42 319 days   8227.042979   90.703048  73.952450  2.750215  0.663399       0.6
43 320 days   8345.254158   91.352363  75.022121  2.973968  0.786496       0.6
44 328 days   8472.819136   92.047918  77.116459  2.958497  0.786496       0.6
45 329 days   8540.146454   92.412913  77.883018  2.970631  0.847166       0.6
46 338 days   3079.244664   55.490942  53.812397  2.909248  0.847166       0.8
47 347 days   3039.915250   55.135426  53.552631  1.277868  0.847166       0.8
48 356 days   2463.487461   49.633532  46.319779  1.040037  0.356482       0.8
49 365 days  11576.867994  107.595855  91.489210  1.060131  0.568761       0.4

In [39]:
# calculate Rsquare

R2 = r2_score(y_cv['y'], y_cv['yhat'])
R2

-0.1297922385010164

# LINEAR 20 YEAR

In [63]:
train.iloc[0:271,:].shape

(271, 2)

In [64]:
m_20 = Prophet(n_changepoints= 15,
                changepoint_range= 0.25,
                yearly_seasonality= True,
               changepoint_prior_scale= 0.9,
                seasonality_mode= "additive"
               )

ml_20 = m_20.fit(train.iloc[0:271,:])

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [65]:
future_20 = ml_20.make_future_dataframe(periods = 20, freq = 'Y')

In [66]:
forecast_20 = ml_20.predict(future_20)
forecast_20.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,1700-01-01,115.924888,-21.017571,125.181185,115.924888,115.924888,-60.515015,-60.515015,-60.515015,-60.515015,-60.515015,-60.515015,0.0,0.0,0.0,55.409873
1,1701-01-01,116.974172,-21.890741,126.419173,116.974172,116.974172,-69.060864,-69.060864,-69.060864,-69.060864,-69.060864,-69.060864,0.0,0.0,0.0,47.913308
2,1702-01-01,118.023455,-35.936398,111.596386,118.023455,118.023455,-76.973935,-76.973935,-76.973935,-76.973935,-76.973935,-76.973935,0.0,0.0,0.0,41.049520
3,1703-01-01,119.072739,-41.765859,109.654668,119.072739,119.072739,-84.242735,-84.242735,-84.242735,-84.242735,-84.242735,-84.242735,0.0,0.0,0.0,34.830003
4,1704-01-01,120.122022,-47.449994,107.050881,120.122022,120.122022,-90.856877,-90.856877,-90.856877,-90.856877,-90.856877,-90.856877,0.0,0.0,0.0,29.265145

# CROSS VALIDATION

In [68]:
# cross validation for evaluate the model

y_cv_20 = cross_validation(ml_20, initial = '90000 days', period = '200 days', horizon = '365 days')

INFO:fbprophet:Making 42 forecasts with cutoffs between 1946-07-21 00:00:00 and 1969-01-01 00:00:00

  0%|          | 0/42 [00:00<?, ?it/s]

In [69]:
# calculate rmse, mae

yy_20 = performance_metrics(y_cv_20 )
yy_20

,horizon,mse,rmse,mae,mape,mdape,coverage
0,34 days,10153.667482,100.765408,78.960552,0.659471,0.540163,0.75
1,43 days,9858.455167,99.289754,75.953138,0.515880,0.540163,0.75
2,51 days,5307.397693,72.851889,61.180396,0.500526,0.509454,0.75
3,60 days,5533.768361,74.389303,65.523940,0.529402,0.509454,0.75
4,69 days,5104.980511,71.449146,61.357894,0.510878,0.472405,0.75
5,78 days,4760.180448,68.994061,56.042752,0.380611,0.308377,0.75
6,86 days,1047.570556,32.366195,31.281032,0.342899,0.308377,1.00
7,95 days,3610.393467,60.086550,49.355822,0.410175,0.396982,0.75
8,104 days,3307.846937,57.513885,44.947169,0.424459,0.425551,0.75
9,112 days,4386.734736,66.232430,56.800138,0.461939,0.452381,0.75
10,121 days,5694.128991,75.459453,69.604614,3.248413,0.498326,0.50
11,129 days,6447.083901,80.293735,72.916675,3.263902,0.529304,0.50
12,139 days,7653.421698,87.483837,85.041738,4.009345,1.993361,0.25
13,147 days,11084.914669,105.284921,101.756723,4.051643,1.993361,0.00
14,156 days,10780.758571,103.830432,99.658048,1.996896,1.993361,0.00
15,164 days,12268.905260,110.765090,105.312066,2.007481,2.014532,0.00
16,173 days,12466.985853,111.655658,106.605320,2.486100,2.030982,0.00
17,182 days,15384.757634,124.035308,116.022823,2.500950,2.030982,0.00
18,190 days,14475.499001,120.314168,106.953383,1.829579,0.688241,0.25
19,200 days,10089.933638,100.448662,84.644157,1.752987,0.687389,0.50
20,208 days,9281.890808,96.342570,78.625859,0.778717,0.687389,0.75
21,217 days,10160.377378,100.798697,81.084345,0.783162,0.696279,0.75
22,225 days,9979.997377,99.899937,77.429964,0.649626,0.520474,0.75
23,234 days,10153.667482,100.765408,78.960552,0.659471,0.540163,0.75
24,243 days,9858.455167,99.289754,75.953138,0.515880,0.540163,0.75
25,251 days,5307.397693,72.851889,61.180396,0.500526,0.509454,0.75
26,260 days,5533.768361,74.389303,65.523940,0.529402,0.509454,0.75
27,269 days,5104.980511,71.449146,61.357894,0.510878,0.472405,0.75
28,278 days,4760.180448,68.994061,56.042752,0.380611,0.308377,0.75
29,286 days,1047.570556,32.366195,31.281032,0.342899,0.308377,1.00
30,295 days,3610.393467,60.086550,49.355822,0.410175,0.396982,0.75
31,304 days,3307.846937,57.513885,44.947169,0.424459,0.425551,0.75
32,312 days,4386.734736,66.232430,56.800138,0.461939,0.452381,0.75
33,321 days,5694.128991,75.459453,69.604614,3.248413,0.498326,0.50
34,329 days,6447.083901,80.293735,72.916675,3.263902,0.529304,0.50
35,339 days,7653.421698,87.483837,85.041738,4.009345,1.993361,0.25
36,347 days,11084.914669,105.284921,101.756723,4.051643,1.993361,0.00
37,356 days,10780.758571,103.830432,99.658048,1.996896,1.993361,0.00
38,365 days,7857.360094,88.641751,82.758593,1.930088,1.983981,0.25

In [78]:

# calculate Rsquare
R2 = r2_score(y_cv_20['y'], y_cv_20['yhat'])
R2

-0.23681074653531153

# LINEAR 1 YEAR

In [70]:
m_1 = Prophet(n_changepoints= 35,
                changepoint_range= 0.19,
                yearly_seasonality= True,
               changepoint_prior_scale= 0.9,
                seasonality_mode= "additive")

ml_1 = m_1.fit(train)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [71]:
future_1 = ml_1.make_future_dataframe(periods = 1, freq = 'Y')
forecast_1 = ml_1.predict(future_1)
forecast_1.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,1700-01-01,169.701738,-18.206876,130.054232,169.701738,169.701738,-114.689548,-114.689548,-114.689548,-114.689548,-114.689548,-114.689548,0.0,0.0,0.0,55.012191
1,1701-01-01,170.928277,-32.737855,121.655867,170.928277,170.928277,-124.790386,-124.790386,-124.790386,-124.790386,-124.790386,-124.790386,0.0,0.0,0.0,46.137891
2,1702-01-01,172.154816,-31.996259,119.522401,172.154816,172.154816,-133.925884,-133.925884,-133.925884,-133.925884,-133.925884,-133.925884,0.0,0.0,0.0,38.228932
3,1703-01-01,173.381355,-44.815293,104.212248,173.381355,173.381355,-142.082172,-142.082172,-142.082172,-142.082172,-142.082172,-142.082172,0.0,0.0,0.0,31.299183
4,1704-01-01,174.607894,-47.304707,99.173560,174.607894,174.607894,-149.247054,-149.247054,-149.247054,-149.247054,-149.247054,-149.247054,0.0,0.0,0.0,25.360841

# Cross validation

In [73]:
# cross validation for evaluate the model

#y_cv_20 = cross_validation(ml_20, initial = '90000 days', period = '200 days', horizon = '365 days')

y_cv_1 = cross_validation(ml_1, initial = '100000 days', period = '200 days', horizon = '365 days')

INFO:fbprophet:Making 10 forecasts with cutoffs between 1974-01-27 00:00:00 and 1979-01-01 00:00:00

  0%|          | 0/10 [00:00<?, ?it/s]

In [75]:
# show the result of cross validation
y_cv_1

          ds       yhat  yhat_lower  yhat_upper      y     cutoff
0 1975-01-01  93.679305   15.180242  166.451671   22.5 1974-01-27
1 1975-01-01  93.679305   13.930437  169.076701   22.5 1974-08-15
2 1976-01-01  93.435395   23.654742  165.347058   18.4 1975-03-03
3 1976-01-01  93.435395   12.863565  167.841987   18.4 1975-09-19
4 1977-01-01  96.988412   18.813763  167.446758   39.3 1976-04-06
5 1977-01-01  96.988412   24.212572  170.708812   39.3 1976-10-23
6 1978-01-01  93.204718   18.582193  168.548861  131.0 1977-05-11
7 1978-01-01  93.204718   18.947605  169.931710  131.0 1977-11-27
8 1979-01-01  91.265371   12.680374  165.124419  220.1 1978-06-15
9 1980-01-01  93.671475   20.688065  169.572050  218.9 1979-01-01

In [76]:
# result of the evaluation of our model
yy_1 = performance_metrics(y_cv_1)
yy_1

   horizon           mse        rmse         mae      mape     mdape  coverage
0  35 days   1428.483345   37.795282   37.795282  0.288514  0.288514       1.0
1  70 days   3327.952912   57.688412   57.688412  1.467899  1.467899       1.0
2 104 days   5630.310531   75.035395   75.035395  4.078011  4.078011       1.0
3 139 days   5066.493471   71.179305   71.179305  3.163525  3.163525       1.0
4 200 days  16598.361561  128.834629  128.834629  0.585346  0.585346       0.0
5 235 days   1428.483345   37.795282   37.795282  0.288514  0.288514       1.0
6 270 days   3327.952912   57.688412   57.688412  1.467899  1.467899       1.0
7 304 days   5630.310531   75.035395   75.035395  4.078011  4.078011       0.0
8 339 days   5066.493471   71.179305   71.179305  3.163525  3.163525       1.0
9 365 days  15682.183534  125.228525  125.228525  0.572081  0.572081       0.0

In [77]:
# calculate Rsquare
R2 = r2_score(y_cv_1['y'], y_cv_1['yhat'])
R2

-0.031442633112621854